@charset "UTF-8";

.container {
	width: 960px;
	height: 750px;
	margin: 0 auto;
	padding-top: 60px;
	background: tomato;
}

.cont {
	width: 800px;
	height: 200px;
	margin: 0 auto 20px;
	padding-top: 60px;
	border: solid 2px #fff;
	background: #FFF6BA;
}

.title1,.con_p1 {
	color: #6B3333;
	text-align: center;
}
.title1 {
	font-size: 2em bold;
}

.boxin {
	margin: 0 auto;
	width: 800px;
	height: 500px;
}

.box {
	width: 320px;
	height: 420px;
	float: left;
	border: solid 2px pink;
	margin: 0 calc( (710px - 640px) / 2);
	background: #FFF6BA;
}
